*{
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
form{
	margin: auto;
}
input{
	padding: 12px 20px;
	margin: 0px auto 8px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px auto;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #45a049;
}
#yourBtn {
  font-family: calibri;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
}
.post-button {
	color: #292b2c;
}
.post-button:hover {
	color: #808080;
}